<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find simple_nav_goals)/map/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="point" default="$(find simple_nav_goals)/param/point.yaml"/>
  
  <!-- Scan the QR code -->
  <include file="$(find zbar_opencv)/launch/zbar_opencv.launch"/>
  
  <!-- Robot Navigation -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="map_file" value="$(arg map_file)" />
    <arg name="open_rviz" default="$(arg open_rviz)"/>
    <arg name="move_forward_only" default="$(arg move_forward_only)"/>
  </include>
  
  <!-- Main Program -->
  <node pkg="simple_nav_goals" name="simple_nav_goals" type="simple_nav_goals" output="screen"/>
    <rosparam file="$(arg point)"/>
</launch>
